.vertical-menu{
    
    ul{
        list-style: none;
        width: 100%;
        li{
            a {
                
                color: #F5F5F5; 
                display: block; 
                padding: 10px 15px; 
                text-decoration: none; 
                &:hover, &:focus{
                    background: #10997e;
                    height: auto;
                }
            }
        }
    }
    .link-icon {
        width: 1.2rem;
        display: inline-block;
    }
}